<ion-content>

  <!-- LOGO -->
  <div class="img">
    <img src="../../../assets/icon/official-logo.jpg">

    <p style="font-size: 18px;"><b>TP Open House 2021</b></p>
  </div>


  <div class="btnWrap">

    <ion-button routerLink="/signup" color="light" expand="block"><b>CREATE ACCOUNT</b>
    </ion-button>


    <ion-button routerLink="/login" color="light" expand="block"><b>LOGIN</b></ion-button>


    <ion-button (click)="GuestLogin()" color="light" expand="block"><b>GUEST</b></ion-button>
  </div>
</ion-content>