<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="main" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Polytechnic Webinar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img src="https://firebasestorage.googleapis.com/v0/b/tp-open-house-2021.appspot.com/o/header.jpg?alt=media&token=e2a537a0-a0ca-4d15-81ba-195068139fad" />
    <ion-card-header>

      <ion-card-subtitle> 
        <div class="ion-text-center">
          <ion-text color="danger">
            <h3>
              <b>
                TP’S GUIDE TO POLYTECHNIC EDUCATION
                – A WEBINAR FOR PARENTS AND STUDENTS
              </b>
            </h3>
          </ion-text>
        </div>
      </ion-card-subtitle>

      <ion-card-title>
        <div class="ion-text-center">
          <h3>
            Saturday 9 January, 2021
            10.00am – 12.00pm
          </h3>
        </div>
      </ion-card-title>

      <ion-row class="ion-align-items-center">
        <ion-col size="12" class="ion-text-center">
          <ion-button color="danger" class="registerBtn" (click) = "openIAB()" expand = "block">REGISTER NOW</ion-button>
        </ion-col>
      </ion-row>
      

    </ion-card-header>
    <ion-card-content>
      
      <div class="ion-text-center">
        <p>Are you a student getting ready to receive your O-Level results, or parents of one who is considering a poly education in the future? Then don’t miss out on our informative and <b>FREE</b> webinar, TP’s Guide to Polytechnic Education!</p>
      </div>
      
      <div class="ion-text-center">
        <p>We are ready to provide you with expert advice, top tips and invaluable insights. Learn how to make the most of your 12 Joint Admissions Exercise choices, find out about the changes in the poly education landscape and discover the latest developments here in TP. Our lecturers will also be present to take any questions you may have relating to a particular diploma course or field of study.</p>
      </div>
      
      <div class="ion-text-center">
        <p>Be sure to mark your calendars and register your attendance below today!</p>
      </div>

      <div class = "ion-text-center">
      <p>Link to registration: <a (click) = "openIAB()">https://bit.ly/3qGD4rf</a>  
      </div>


    </ion-card-content>
  </ion-card>

</ion-content>
