
#animate-walk {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

// .loading {
//     padding:10px
// }

ion-slide {
    height: calc(100vh - 50px);
    display: block;
}

ion-content {
    --background: linear-gradient(#ddc97a, #d44e4e);
}

.title {
    color: white;
    font-style: italic;
    font-weight: bolder;
    font-size: 26px;
    margin-bottom: 50px;
}

#walking {
    text-align: center;
    font-weight: bolder;
    position: relative;
    bottom: 50px;
    font-size: 24px;
    padding-top: 0;
    color: steelblue;
}

ion-img {
    margin-top: 100px;
}

.yes {
    padding-right: 60px;
}

.fun-content {
    position: relative;
    bottom: 45px;
}

.funfact {
    text-align: center;
    font-size: 20px;
    padding-top: 0;
    color: white;
}

#submit-btn {
    height: 48px;
    margin: 0 10px 0 10px;
}


.item-background-color {
    --ion-item-background: transparent;
    height: 50px;
}

.points {
    margin-bottom: 20px;
}

.list-background-color {
    border-style: solid;
    border-width: 1px 0 0 0;
    border-color: thistle;
    --ion-item-background: transparent;

    ion-item {
        height: auto;
    }
}

img {
    width: 100%;
}

ion-slides {
    height: 100%;
}

.top-points {
    text-align: right;
    padding: 10px 20px 0 0;
}

#close {
    margin-top: 5%;
    position: absolute;
    left: 0;
}