.wrapper{
    text-align: center;
}
ion-button {
    text-transform: none;
   }
   p{
    text-align: center;
}
ion-icon{
    color: #ba2929;
    width: 10%;
}
ion-content {
    --background:  linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  }

.heading{
    padding-top: 20%; 
    text-align: center; 
    font-size: 30px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color: white;
}

.wrapper{
    text-align: center;
    padding: 0px 60px 100px 60px;
    padding-top: 16px;
}