<ion-header>
  <!-- <ion-toolbar>
    <ion-title>Reset Password</ion-title>
    <ion-back-button slot="start" defaultHref="main" text=""></ion-back-button>

  </ion-toolbar> -->
</ion-header>

<ion-content>

  <p class="heading">
    <b>Forgot Your Password ?</b>
  </p>

  <p style="padding-top: 10px; padding-bottom: 6%; text-align: center; font-size: 18px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: white;">
    Enter your email and we will send you a link to reset your password.
  </p>

  <form [formGroup] = "passwordReset_form" (ngSubmit) = "sendEmail(passwordReset_form.value)">
  <ion-card>
    <ion-item lines = "none">
      <ion-icon name="mail-outline"></ion-icon>
      <ion-input formControlName = "email"  placeholder = "Enter your email"></ion-input>
      <ion-icon *ngIf="email.invalid && (email.dirty || email.touched)"
      style="height: 25px;" name="alert-circle-outline" color="danger"></ion-icon>
    </ion-item>
  </ion-card>

  <p style="text-align: center; padding-top: 20px;">
    <ion-text color="light" [routerLink]="['']">
      <b><u>Back to start</u></b>
    </ion-text>
</p>  

  <div class = "wrapper">
  <ion-button type = "submit" [disabled] = '!passwordReset_form.valid' color = 'light' expand = "block">
    Send Link
  </ion-button>
  </div>

  </form>
</ion-content>
