<ion-list lines="full">
  <ion-item button (click)="close('asc', 'School of Applied Science')">
    School of Applied Science
  </ion-item>
  <ion-item button (click)="close('bus', 'School of Business')">
    School of Business
  </ion-item>
  <ion-item button (click)="close('des', 'School of Design')">
    School of Design
  </ion-item>
  <ion-item button (click)="close('eng', 'School of Engineering')">
    School of Engineering
  </ion-item>
  <ion-item button (click)="close('hss', 'School of Humanities & Social Sciences')">
    School of Humanities & Social Sciences
  </ion-item>
  <ion-item button (click)="close('it', 'School of Informatics & IT')">
    School of Informatics & IT
  </ion-item>
</ion-list>