ion-card {
    margin: 1em; // top bottom, left right

    ion-card-title {
        font-size: 20px;
    }
}

#saved-badge {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 1;
}

#btnFilter {
    height: 50px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    border-radius: 5px !important;

    ion-card-title {
        text-align: center;
        // font-family: Arial, Helvetica, sans-serif;
        // color: white;
    }

}

#asc, #bus, #des, #eng, #hss, #iit {
    height: 10em;
    display: block;
    padding: 3em 1em 1em;
    position: relative;
    // color: black;

    div {
        bottom: 8px !important;
        position: absolute;
        
        ion-card-title {
            text-align: left;
            font-weight: bold;
        }

        ion-card-subtitle {
            color: black;
            z-index: 1;
            align-items: center; /* align vertical */
            margin: 0;
        }
    
    }
    
}

// Method obtained from https://dev.to/hybrid_alex/background-image-gradient-overlay-534f
#asc {
    background: url('https://www.tp.edu.sg/content/dam/tp-web/images/schools---courses/for-prospective-students/all-academic-schools/school-of-applied-science/school-of-asc-landing-page-images/asc.jpg') center center no-repeat;
    background-size: cover;
    background-position: 0em 0em; // leftright topbottom
    &:before {
        content: '';
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    background-image: linear-gradient(90deg, rgba(255,255,255,1) 25%, rgba(102,255,0,1) 100%);
	    opacity: .8;
    }
}

#bus {
    background: url('https://www.tp.edu.sg/content/dam/tp-web/images/schools---courses/for-prospective-students/all-academic-schools/school-of-business/school-of-bus-landing-page-images/bus1.jpg') center center no-repeat;
    background-size: cover;
    background-position: 0em 0em;
    &:before {
        content: '';
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    background-image: linear-gradient(90deg, rgba(255,255,255,1) 25%, rgba(255,221,0,1) 100%);
	    opacity: .8;
    }
}

#des {
    background: url('https://www.tp.edu.sg/content/dam/tp-web/images/schools---courses/for-prospective-students/all-academic-schools/school-of-design/school-of-des-landing-page-images/des1.jpg') center center no-repeat;
    background-size: cover;
    background-position: 0em 0em;
    &:before {
        content: '';
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    background-image: linear-gradient(90deg, rgba(255,255,255,1) 25%, rgba(27,181,191,1) 100%);
	    opacity: .8;
    }
}

#eng {
    background: url('https://www.tp.edu.sg/content/dam/tp-web/images/schools---courses/for-prospective-students/all-academic-schools/school-of-engineering/school-of-engineering-landing-page-images/eng.jpg')
    center center no-repeat;
    background-size: cover;
    background-position: 0em 0em;
    &:before {
        content: '';
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    background-image: linear-gradient(90deg, rgba(255,255,255,1) 25%, rgba(130,55,140,1) 100%);
	    opacity: .8;
    }
}

#hss {
    background: url('https://www.tp.edu.sg/content/dam/tp-web/images/schools---courses/for-prospective-students/all-academic-schools/school-of-humanities---social-sciences/school-of-hss-landing-page-images/hss-1.jpg')
    center center no-repeat;
    background-size: cover;
    background-position: 0em 0em;
    &:before {
        content: '';
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    background-image: linear-gradient(90deg, rgba(255,255,255,1) 25%, rgba(242,146,0,1) 100%);
	    opacity: .8;
    }
}

#iit {
    background: url('https://www.tp.edu.sg/content/dam/tp-web/images/schools---courses/for-prospective-students/all-academic-schools/school-of-informatics---it/school-of-iit-landing-page-images/iit.jpg') center center no-repeat;
    background-size: cover;
    background-position: 0em 0em;
    &:before {
        content: '';
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    background-image: linear-gradient(90deg, rgba(255,255,255,1) 25%, #0087C9 100%);
	    opacity: .8;
    }
}
