<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="main"></ion-back-button>
    </ion-buttons>
    <ion-title class="animated slideInUp" *ngIf="foodCat">
      Food Outlets - {{foodCat}}
    </ion-title>
    <ion-buttons (click)="presentAlertRadio()" slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="filter"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [scrollEvents]="true" (ionScrollStart)="logScrollStart()" ionScroll="logScrolling($event)" (ionScrollEnd)="logScrollEnd()">
  <div *ngIf="!data">
    <div class="custom-skeleton" *ngFor="let val of ['one', 'two', 'three']">
      <ion-card id="card-list"> <!-- style="border-radius: 5px !important;" -->
        <ion-list-header>
          <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
        </ion-list-header>
        <ion-thumbnail style="width: 100%; height: 14em;">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <br>
        <ion-card-content>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-card-content>
        <br>
       </ion-card>
      </div>
    </div>


  <ion-card id="card-list" *ngFor="let info of foodList">
    <!-- (ionImgDidLoad)="loaded = true" -->
    <ion-img  [src]='info.image'></ion-img>
    <!-- <img class="middle" *ngIf="!loaded" style="width: 2.5em;" src="../assets/gif/tp.gif"> -->
 
    <ion-card-content>
      <h5>{{ info.name }}</h5>
      <p class="location"><strong>{{ info.location }}</strong></p>
      <p>{{ info.type }}</p>
        <!-- <ion-buttons id="delete" (click)=pic()>
            <ion-icon slot="icon-only" name="map"></ion-icon></ion-buttons> -->
      <!-- <p *ngIf="info.sat">We are open on 09 Jan (Sat) from <b>{{ info.sat }}</b>!</p>
      <br *ngIf="info.sat"> -->
      <p style="text-align: justify; color: black;">{{ info.description }}</p>
      <br *ngIf="info.description">
      
    </ion-card-content>


  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="ScrollToTop()">
    <ion-fab-button>
      <ion-icon name="arrow-up"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>